<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>TESTE DE LEITURA JULHO</title>
</head>
<body>
    <div id="temporizador">
        <h1 id="timer">01:00</h1>
        <button onclick="iniciarTemporizador()" class="btn btn-success">Iniciar</button>
        <button onclick="location.reload()" class="btn btn-danger">Reiniciar</button>  
    </div>
    <div class="container">
    <div class="row">
        <div class="text-center"><img class="img-fluid" src="/img/texto-estacoes-do-ano-teste-de-leitura-julho.jpg" alt=""></div>
    </div>
    <hr>  
    </div>   
    <script src="./js/script.js"></script> 
</body>

<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
</html>